*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.header{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #2F2E41;
}

.header__link{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 113px;
    color: #6c63ff;
    mix-blend-mode: normal;
}

.img__top{
    height: 300px;
}