*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.header{
    margin-top: 40px;
}

.head{
    margin-top: 51px;
    padding-top: 11px; 
    padding-bottom: 12px;
}

.link__home{
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16px;
    color: #F25822;
}

.header__link{
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

/* .top__info{
    margin: 0px 439px 0px 373px;
} */

.title{
    width: 522px;
    margin-top: 164px;
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.text{
    width: 466px;
    margin-top: 17px;
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.img__info{
    object-fit: cover;
    float: right;
}

.button__1{  
    margin-top: 37px;
    padding: 15px 36px 16px 35px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.button__2{
    margin-top: 52px;
    margin-bottom: 178px;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}

.logos{
    padding: 162px 0px 96px 345px;
}

/* .top__logas{
    padding: 0px 48px 0px 0px;
} */
