*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    font-family: 'gilroy-extrabold',sans-serif;
}

.header{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 602px;
}

.head{
    display: flex;
    gap: 24px;
    padding-top: 11px; 
    padding-bottom: 12px;
}

.link__home{ 
    font-size: 14px;
    line-height: 16px;
    color: #F25822;
}

.header__link{
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.top__info{
    margin-bottom: 259px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 41px;
}

.top__content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 17px;
}

.title{
    width: 522px;
    margin-top: 84px;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.text{
    width: 466px;
    margin-top: 17px;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.top__buttons{
    display: flex;
    gap: 72px;
    align-items: flex-start;
}

.button__1{  
    margin-top: 37px;
    padding: 15px 36px 16px 35px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.button__2{
    margin-top: 52px;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}

.logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-top: 97px;
    padding-bottom: 96px;
}

.features{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 370px;
    grid-template-rows: 291px;
    justify-content: center;
    justify-items: center;
    gap: 61px;
    display: flex;

}

.icon{
    padding-top: 40px;
}

.subtitle{
    padding-top: 25px;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.text2{
    width: 310px;
    padding-top: 17px;
    padding-bottom: 25px;
    font-size: 15px;
    line-height: 150%;
    color: #666666;
}


.read{
    font-size: 11px;
    line-height: 150%;
    color: #000000;
}

.item2{
    padding-left: 30px;
    background: #FFFFFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.services{
    background: #FAFAFA;
}

.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.secation__itle{
    padding-top: 92px;
    font-size: 45px;
    line-height: 53px;
    color: #000000;
}

.text3{
    width: 682px;
    padding-top: 19px;
    padding-bottom: 55px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #666666;
}

.service{
    display: grid;
    grid-template-columns: 549px;
    grid-template-rows: 370px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}

.illustration{
    padding-top: 15px;
    padding-bottom: 25px;
}

.text4{
    padding-top: 22px;
    padding-bottom: 39px;
    width: 310px;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #AAAAAA;
}

.button{
    margin-bottom: 50px;
    padding: 15px 36px 15px 46px;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
}

.icon__button{
    padding-right: 6px;
}

.item4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: #FFFFFF;
}

.item5{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.item6{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: #FFFFFF;
}