.content__basket {
    @extend %center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .goods {
        padding-top: 69px;

        &__item {
            width: 652px;
            -webkit-box-shadow: 0px 5px 10px 2px rgba(93, 93, 93, 0.2);
            -moz-box-shadow: 0px 5px 10px 2px rgba(93, 93, 93, 0.2);
            box-shadow: 0px 5px 10px 2px rgba(93, 93, 93, 0.2);
            display: flex;
            gap: $gapGrid;
            margin-bottom: 40px;
            transition: 1.2s;
        }

        &__item:hover {
            transform: scale(1.1);
        }

        &__img {
            width: 262px;
        }

        &__about {
            padding-top: 22px;
        }

        &__about__title {
            padding-bottom: 42px;
            @extend %flex-centr;
            align-items: normal;
            gap: 57px;
        }

        &__title {
            width: 262px;
            color: $colorContent;
            font-size: 24px;
            font-style: normal;
            font-weight: $weightRegular;
            line-height: normal;
        }

        &__delete:hover {
            fill: $colorSelectStyle;
        }

        &__text {
            padding-bottom: 6px;
            color: #575757;
            font-size: 22px;
            font-style: normal;
            font-weight: $weightRegular;
            line-height: normal;
        }

        &__price {
            color: $colorSelectStyle;
        }

        &__color {
            color: #6F6E6E;
        }

        &__number {
            margin-left: 24px;
            padding: 1px 17px;
            width: 44px;
            border: 1px solid #EAEAEA;
            color: $colorSubtextContent;
            font-size: 18px;
            font-style: normal;
            font-weight: $weightRegular;
            line-height: normal;
        }

        &__button {
            @extend %flex-centr;
            gap: 192px;
        }

        .button__clear {
            margin-bottom: 144px;
            border: 1px solid $colorCatalog;
            padding: 17px 40px;
            transition: all $transitionSelectSite;
        }

        .button__clear:hover {
            background-color: $colorSelectStyle;
            border-color: $colorSelectStyle;

            .goods__link {
                color: $colorBackgroundWite;
                text-decoration: none;
            }
        }

        .button__clear:active {
            background-color: $colorBackgroundWite;
            border-color: $colorCatalog;

            .goods__link {
                color: $colorContent;
                text-decoration: none;
            }
        }

        .button__continue {
            margin-bottom: 144px;
            border: 1px solid $colorCatalog;
            padding: 17px 40px;
            transition: all $transitionSelectSite;
        }

        .button__continue:hover {
            background-color: $colorSelectStyle;
            border-color: $colorSelectStyle;

            .goods__link {
                color: $colorBackgroundWite;
                text-decoration: none;
            }
        }

        .button__continue:active {
            background-color: $colorBackgroundWite;
            border-color: $colorCatalog;

            .goods__link {
                color: $colorContent;
                text-decoration: none;
            }
        }

        &__link {
            color: $colorContent;
            font-size: $sizeSmall;
            font-style: normal;
            font-weight: $weightLight;
            line-height: normal;
            margin-bottom: 144px;
            transition: all $transitionSelectSite;
        }
    }

    .form {
        padding-top: 113px;

        &__title {
            padding-bottom: 20px;
            color: $colorContent;
            font-size: $sizeAverage;
            font-style: normal;
            font-weight: $weightLight;
            line-height: normal;
        }

        &__input {
            margin-bottom: 20px;
            padding: 14px 0px 14px 17px;
            width: 360px;
            color: $colorContent;
            font-size: $sizeSmall;
            font-style: normal;
            font-weight: $weightLight;
            line-height: normal;
        }

        &__input1 {
            color: #B1B1B1;
        }

        &__button {
            width: 102px;
            padding: 11px 14px;
            border: 1px solid $colorSubtextContent;
            font-size: 11px;
            font-style: normal;
            font-weight: $weightLight;
            line-height: normal;
            transition: all $transitionSelectSite;
        }

        &__button:hover {
            background: $colorSelectStyle;
            border-color: $colorSelectStyle;

            .form__link {
                text-decoration: none;
                color: $colorBackgroundWite;
            }
        }

        &__button:active {
            background: $colorBackgroundWite;
            border-color: $colorSubtextContent;

            .form__link {
                color: $colorSubtextContent;
            }
        }

        &__link {
            color: $colorSubtextContent;
            transition: all $transitionSelectSite;
        }

        &__item2 {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-top: 39px;
            padding-bottom: 42px;
            padding-right: 34px;
            padding-left: 72px;
            margin-top: 57px;
            background: #F5F3F3;
        }

        &__text {
            padding-bottom: 12px;
            @extend %flex-messeng;
            justify-content: flex-end;
            gap: 20px;
            color: $colorSubtextContent;
            font-size: 11px;
            font-style: normal;
            font-weight: $weightRegular;
            line-height: normal;
        }

        &__title__price {
            margin: 0;
            @extend %flex-messeng;
            justify-content: flex-end;
            width: 257px;
            border-bottom: 1px solid #E2E2E2;
            padding-bottom: 21px;
            color: $colorContent;
            font-size: $sizeAverage;
            font-style: normal;
            font-weight: $weightLight;
            line-height: normal;
        }

        .title__price {
            padding-left: 20px;
            color: $colorSelectStyle;
            font-weight: $weightBold;
        }

        &__button__item {
            margin-top: 17px;
            padding: 15px 40px;
            border: 1px solid $colorSelectStyle;
            background: $colorSelectStyle;
            width: 273px;
            transition: all $transitionSelectSite;
        }

        &__button__item:hover {
            background: $colorBackgroundWite;

            .button__text {
                text-decoration: none;
                color: $colorSelectStyle;
            }
        }

        &__button__item:active {
            background: $colorSelectStyle;

            .button__text {
                color: $colorBackgroundWite;
            }
        }

        .button__text {
            color: $colorBackgroundWite;
            font-size: $sizeAverage;
            font-style: normal;
            font-weight: $weightLight;
            line-height: normal;
            transition: all $transitionSelectSite;
        }
    }
}

/* Стили для планшета */
//  Для страницы index
@media (max-width: 1024px) {

    //  Для страницы index
    .head {
        padding-left: calc(50% - $widthSitetTablet/2);
        padding-right: calc(50% - $widthSitetTablet/2);
        padding-top: 18px;
        padding-bottom: 32px;

        .header {
            gap: 25px;
        }

        .collapse:not(.show) {
            display: block;
        }

        .dropdown-menu {
            min-width: 175px;
        }

        .search__menu {
            display: $displayNone;
        }
    }

    .top__info {
        padding-left: calc(50% - $widthSitetTablet/2);
        padding-right: calc(50% - $widthSitetTablet/2);
        flex-wrap: nowrap;
        gap: 39px;

        .top__content {
            flex-wrap: nowrap;
        }

        .top__info__img {
            max-width: 386px;
            max-height: 368px;
        }
    }

    .title {
        font-size: 44px;
        line-height: 53px;
    }

    .subtitle {
        font-size: 24px;
        line-height: 29px;
    }

    .stocks {
        padding-left: calc(50% - $widthSitetTablet/2);
        padding-right: calc(50% - $widthSitetTablet/2);
        padding-bottom: 109px;
        grid-template-columns: repeat(3, 233px);
        column-gap: 20px;


        .sale__text__women {
            top: 59px;
            left: 39px;
        }

        .sale__text__men {
            top: 57px;
            left: 60px;
        }

        .sale__text__kids {
            top: 58px;
            left: 59px;
        }

        .img__sale__accesories {
            max-width: 740px;
        }

        .sale__botom__text {
            left: 288px;
        }

    }

    .products {
        padding-left: calc(50% - $widthSitetTablet/2);
        padding-right: calc(50% - $widthSitetTablet/2);

        .catalog {
            padding-top: 73px;
            padding-bottom: 33px;
            grid-template-columns: repeat(2, 360px);
            column-gap: 16px;
            row-gap: 16px;
        }

        .button {
            margin-bottom: 85px;
        }

    }

    .foot {
        padding-left: calc(50% - $widthSitetTablet/2);
        padding-right: calc(50% - $widthSitetTablet/2);
        padding-top: 49px;
        padding-bottom: 64px;
        grid-template-columns: 360px;
        gap: 49px;
    }

    .form__market {
        padding-left: calc(50% - $widthSitetTablet/2);
        padding-right: calc(50% - $widthSitetTablet/2);
        padding-top: 64px;
        padding-bottom: 140px;
        flex-direction: column;
        gap: 48px;
        background-image: url(../img/img__background.svg);
        background-size: cover;
    }

    .contacts {
        padding-left: calc(50% - $widthSitetTablet/2);
        padding-right: calc(50% - $widthSitetTablet/2);
        justify-content: space-between;
        padding: 24px 33px 23px 32px;
    }
}

/* Стили для среднего телефона */
@media (max-width: 767px) {

    .head {
        padding-left: calc(50% - $widthSitetAveragePhone/2);
        padding-right: calc(50% - $widthSitetAveragePhone/2);
        padding-top: 18px;
        padding-bottom: 16px;

        .account {
            display: $displayNone;
        }

        .basket {
            display: $displayNone;
        }
    }

    .top__info {
        padding-left: calc(50% - $widthSitetAveragePhone/2);
        padding-right: calc(50% - $widthSitetAveragePhone/2);
        justify-content: $justifyContentCenter;

        .top__content {
            padding-top: 148px;
            padding-bottom: 149px;
            gap: 15px;
        }

        &__img {
            display: $displayNone;
        }

        .rectangle {
            max-width: 12px;
            max-height: 61px;
        }

        .title {
            font-size: 38px;
            line-height: 46px;
        }

        .subtitle {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .stocks {
        padding-left: calc(50% - $widthSitetAveragePhone/2);
        padding-right: calc(50% - $widthSitetAveragePhone/2);
        padding-top: 64px;
        padding-bottom: 64px;
        grid-template-columns: 343px;
        row-gap: 32px;

        .sale__text__women {
            top: 98px;
            left: 94px;
        }

        .sale__text__men {
            top: 102px;
            left: 113px;
        }

        .sale__text__kids {
            top: 108px;
            left: 114px;
        }

        .item4 {
            display: $displayNone;
        }
    }

    .products {
        padding-left: calc(50% - $widthSitetAveragePhone/2);
        padding-right: calc(50% - $widthSitetAveragePhone/2);

        .catalog {
            padding-top: 65px;
            padding-bottom: 41px;
            grid-template-columns: 359px;
        }
    }

    .foot {
        padding-left: calc(50% - $widthSitetAveragePhone/2);
        padding-right: calc(50% - $widthSitetAveragePhone/2);
        padding-top: 48px;
        padding-bottom: 47px;
        grid-template-columns: 348px;
        gap: 47px;
    }

    .form__market {
        padding-left: calc(50% - $widthSitetAveragePhone/2);
        padding-right: calc(50% - $widthSitetAveragePhone/2);
        gap: 59px;
        padding-top: 64px;
        padding-bottom: 80px;
        background-image: url(../img/img__background.svg);
        background-size: cover;
        flex-direction: column;
        align-items: center;

        .form__input {
            max-width: 246px;
        }
    }

    .contacts {
        padding-left: calc(50% - $widthSitetAveragePhone/2);
        padding-right: calc(50% - $widthSitetAveragePhone/2);
        padding-top: 43px;
        padding-bottom: 9px;
        gap: 40px;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
}

/* Стили для маленького телефона */
@media (max-width: 321px) {

    .head {
        padding-left: calc(50% - $widthSitetSmallPhone/2);
        padding-right: calc(50% - $widthSitetSmallPhone/2);
    }

    .stocks {
        padding-left: calc(50% - $widthSitetSmallPhone/2);
        padding-right: calc(50% - $widthSitetSmallPhone/2);
        grid-template-columns: 320px;
    }

    .products {
        padding-left: calc(50% - $widthSitetSmallPhone/2);
        padding-right: calc(50% - $widthSitetSmallPhone/2);

        .catalog {
            grid-template-columns: 319px;

            .description {
                font-size: 12px;
                width: 300px;
            }
        }

    }

    .text__about {
        max-width: 300px;
    }

    .form {

        &__content {
            max-width: 320px;
        }

        &__input {
            width: 120px;
        }
    }

    .button__form {
        width: 100px;
    }
}