.goods {
    // &__item {

    // }

    &__img {
        width: 262px;
    }

    &__title {
        width: 262px;
        color: $colorContent;
        font-size: 24px;
        font-style: normal;
        font-weight: $weightRegular;
        line-height: normal;
    }

    &__text {
        color: $colorSubtextContent;
        font-size: 22px;
        font-style: normal;
        font-weight: $weightRegular;
        line-height: normal;
    }
}