.goods {
    @extend %center;
    padding-top: 69px;
    
    &__item {
        display: flex;
        gap: $gapGrid;
        padding-bottom: 40px;
    }

    &__img {
        width: 262px;
    }

    &__title {
        width: 262px;
        color: $colorContent;
        font-size: 24px;
        font-style: normal;
        font-weight: $weightRegular;
        line-height: normal;
    }

    &__text {
        color: #575757;
        font-size: 22px;
        font-style: normal;
        font-weight: $weightRegular;
        line-height: normal;
    }

    &__price{
        color: $colorSelectStyle;
    }

    &__color{
        color: #6F6E6E;
    }
}