.filter__sort {
    @extend %center;
    height: 132px;
    position: relative;
    background: $colorTextContent;

    .filter {
        padding: 13px 16px 16px;
        width: 360px;
        box-sizing: border-box;
        position: absolute;
        top: 39px;

        &__summary {
            @extend %flex-align-items;
            gap: 11px;
        }

        &__heading {
            color: $colorContent;
            font-size: $sizeSmall;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        &[open] .filter__heading{
            color: $colorSelectStyle;
        }
    }

}

.catalog__navigation {
    @extend %center;
    @extend %flex-centr-head;
    justify-content: center;
    padding-bottom: 96px;
    background: $colorTextContent;

    .navigation {
        padding: 13px 15px;
        border: 1px solid $colorCatalog;
        border-radius: 5px;

        &__number {
            padding-left: 8px;
            padding-right: 8px;
            text-decoration: none;
            font-style: normal;
            line-height: normal;
            font-size: $sizeAverage;
            font-weight: $weightLight;
            color: $colorCatalog;
            transition: $transitionSelectSite;
        }

        &__number:hover {
            color: $colorSelectStyle;
        }

        &__button:active {
            fill: $colorSubtextContent;
        }
    }
}