@charset "UTF-8";
.catalog__navigation, .filter__sort, .description .decoration, .content, .subhead {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__navigation, .subhead {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.filter__sort .sort__check, .filter__sort .sort__summary, .filter__sort .filter__summary, .description .product__link .link__description {
  display: flex;
  align-items: center;
}

.description {
  display: flex;
  justify-content: center;
}

.description .product__button .button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.description .decoration {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.subhead {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F8F3F4;
  transition: all 1s;
}
.subhead__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  color: #F16D7F;
}
.subhead .breadcrumbs {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #5D5D5D;
}
.subhead .breadcrumbs__pink {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  color: #F16D7F;
}

.content {
  background: #F7F7F7;
}
.content .arrows {
  transition: all 0.4s;
}
.content .arrows__color {
  transition: all 0.4s;
}
.content .arrows:hover ~ .arrows__color {
  fill: #F16D7F;
}
.content .arrows:active {
  fill: #898989;
}

.description {
  background: #F7F7F7;
}
.description .decoration {
  padding-top: 65px;
  padding-bottom: 65px;
  width: 1140px;
  border: 1px solid #FBFBFB;
  background: #FBFBFB;
}
.description__subtitle {
  padding-bottom: 12px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  color: #F16D7F;
}
.description__title {
  padding-top: 12px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21.6px;
  color: #5D5D5D;
}
.description__text {
  padding-top: 49px;
  max-width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  color: #5D5D5D;
  text-align: center;
}
.description__price {
  padding-top: 33px;
  padding-bottom: 65px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28.8px;
  color: #F16D7F;
}
.description .product__link {
  padding-top: 65px;
  display: flex;
  gap: 23px;
}
.description .product__link .link__description {
  gap: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #5D5D5D;
}
.description .product__button {
  padding-top: 49px;
}
.description .product__button .button {
  gap: 23px;
  border: 1px solid #F16D7F;
  padding: 15px 57px 9px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  background: #FBFBFB;
  transition: all 0.4s;
}
.description .product__button .button:hover {
  border: 1px solid #FBFBFB;
  color: #FBFBFB;
  background: #F16D7F;
}
.description .product__button .button:hover .img__button {
  fill: #FBFBFB;
}

.filter__sort {
  height: 132px;
  padding-top: 39px;
  box-sizing: border-box;
  position: relative;
  background: #FBFBFB;
  display: flex;
  gap: 30px;
}
.filter__sort .filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter__sort .filter[open] {
  background: #FBFBFB;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter__sort .filter__content {
  position: absolute;
  background-color: #fff;
  padding: 0px 16px 16px 16px;
  width: 360px;
  box-sizing: border-box;
}
.filter__sort .filter__summary {
  gap: 11px;
  padding-left: 16px;
}
.filter__sort .filter__heading {
  color: #222222;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter__sort .filter[open] .filter__heading {
  color: #F16D7F;
}
.filter__sort .filter[open] .filter__button {
  fill: #F16D7F;
}
.filter__sort .filter__item {
  margin-top: 16px;
}
.filter__sort .filter__head {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__sort .filter .filter__item[open] .filter__head {
  color: #F16D7F;
}
.filter__sort .filter__link__box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__sort .filter__link {
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
.filter__sort .filter__link:hover {
  color: #F16D7F;
  text-decoration: none;
}
.filter__sort .sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.filter__sort .sort__deteils {
  position: relative;
}
.filter__sort .sort__summary {
  gap: 10px;
}
.filter__sort .sort__check {
  gap: 10px;
}
.filter__sort .sort__heading {
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
.filter__sort .sort__box {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  left: -9px;
  top: 22px;
}
.filter__sort .sort__check {
  font-family: "Roboto", sans-serif;
  color: #5D5D5D;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.catalog__navigation {
  justify-content: center;
  padding-bottom: 96px;
  background: #FBFBFB;
}
.catalog__navigation .navigation {
  padding: 13px 15px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}
.catalog__navigation .navigation__number {
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-weight: 300;
  color: #E5E5E5;
  transition: 0.4s;
}
.catalog__navigation .navigation__number:hover {
  color: #F16D7F;
}
.catalog__navigation .navigation__button:active {
  fill: #5D5D5D;
}

* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

figure {
  margin: 0;
}

/* Стили для планшета */
@media (max-width: 1024px) {
  .head {
    padding: 18px 32px;
  }
  .collapse:not(.show) {
    display: block;
  }
  .dropdown-menu {
    min-width: 175px;
  }
  .search__menu {
    display: none;
  }
  .top__info {
    justify-content: center;
  }
  .top__info__img {
    max-width: 386px;
    max-height: 368px;
  }
  .header {
    gap: 25px;
  }
  .title {
    font-size: 44px;
    line-height: 53px;
  }
  .subtitle {
    font-size: 24px;
    line-height: 29px;
  }
  .top__info {
    gap: 39px;
  }
  .stocks {
    padding-bottom: 109px;
    grid-template-columns: repeat(3, 233px);
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .sale__text__women {
    top: 59px;
    left: 39px;
  }
  .sale__text__men {
    top: 57px;
    left: 60px;
  }
  .sale__text__kids {
    top: 58px;
    left: 59px;
  }
  .img__sale__accesories {
    max-width: 740px;
  }
  .sale__botom__text {
    left: 288px;
  }
  .catalog {
    padding-top: 73px;
    padding-bottom: 33px;
    grid-template-columns: repeat(2, 360px);
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 16px;
  }
  .button {
    margin-bottom: 85px;
  }
  .foot {
    padding-top: 49px;
    padding-bottom: 64px;
    grid-template-columns: 360px;
    gap: 49px;
  }
  .form__market {
    padding-top: 64px;
    padding-bottom: 140px;
    flex-direction: column;
    gap: 48px;
    background-image: url(../img/img__background.svg);
    background-size: cover;
  }
  .contacts {
    justify-content: space-between;
    padding: 24px 33px 23px 32px;
  }
}
/* Стили для среднего телефона */
@media (max-width: 767px) {
  .head {
    padding: 18px 16px;
  }
  .account {
    display: none;
  }
  .basket {
    display: none;
  }
  .top__info {
    justify-content: center;
  }
  .top__content {
    padding-top: 148px;
    padding-bottom: 149px;
    gap: 15px;
  }
  .top__info__img {
    display: none;
  }
  .rectangle {
    max-width: 12px;
    max-height: 61px;
  }
  .title {
    font-size: 38px;
    line-height: 46px;
  }
  .subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .stocks {
    padding-top: 64px;
    padding-bottom: 64px;
    grid-template-columns: 343px;
    row-gap: 32px;
  }
  .sale__text__women {
    top: 98px;
    left: 94px;
  }
  .sale__text__men {
    top: 102px;
    left: 113px;
  }
  .sale__text__kids {
    top: 108px;
    left: 114px;
  }
  .item4 {
    display: none;
  }
  .catalog {
    padding-top: 65px;
    padding-bottom: 41px;
    grid-template-columns: 359px;
  }
  .foot {
    padding-top: 48px;
    padding-bottom: 47px;
    grid-template-columns: 348px;
    gap: 47px;
  }
  .form__market {
    gap: 59px;
    padding-top: 64px;
    padding-bottom: 80px;
    background-image: url(../img/img__background.svg);
    background-size: cover;
    flex-direction: column;
    align-items: center;
  }
  .form__input {
    max-width: 246px;
  }
  .contacts {
    padding-top: 43px;
    padding-bottom: 9px;
    gap: 40px;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}
/* Стили для маленького телефона */
@media (max-width: 321px) {
  .stocks {
    grid-template-columns: 320px;
  }
  .catalog {
    grid-template-columns: 320px;
  }
  .description {
    font-size: 12px;
  }
  .text__about {
    max-width: 320px;
  }
  .form__content {
    max-width: 320px;
  }
  .form__input {
    max-width: 190px;
  }
}/*# sourceMappingURL=style.css.map */