@import 'index';
@import 'vars';
@import 'position';
@import 'product';
@import 'catalog';

* {
    margin: $marginNone;
    padding: $paddingNone;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: $marginNone;
}

figure {
    margin: $marginNone;
}



