@import 'index';
@import 'vars';
@import 'position';
@import 'product';
@import 'catalog';

* {
    margin: $marginNone;
    padding: $paddingNone;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: $marginNone;
}

figure {
    margin: $marginNone;
}



/* Стили для планшета */
@media (max-width: 1024px) {

    .head {
        padding: 18px 32px;
    }

    .collapse:not(.show) {
        display: block;
    }

    .dropdown-menu {
        min-width: 175px;
    }

    .search__menu {
        display: $displayNone;
    }

    .top__info {
        justify-content: $justifyContentCenter;
    }

    .top__info__img {
        max-width: 386px;
        max-height: 368px;
    }

    .header {
        gap: 25px;
    }

    .title {
        font-size: 44px;
        line-height: 53px;
    }

    .subtitle {
        font-size: 24px;
        line-height: 29px;
    }

    .top__info {
        gap: 39px;
    }

    .stocks {
        padding-bottom: 109px;
        grid-template-columns: repeat(3, 233px);
        column-gap: 20px;
    }

    .sale__text__women {
        top: 59px;
        left: 39px;
    }

    .sale__text__men {
        top: 57px;
        left: 60px;
    }

    .sale__text__kids {
        top: 58px;
        left: 59px;
    }

    .img__sale__accesories {
        max-width: 740px;
    }

    .sale__botom__text {
        left: 288px;
    }

    .catalog {
        padding-top: 73px;
        padding-bottom: 33px;
        grid-template-columns: repeat(2, 360px);
        column-gap: 16px;
        row-gap: 16px;
    }

    .button {
        margin-bottom: 85px;
    }

    .foot {
        padding-top: 49px;
        padding-bottom: 64px;
        grid-template-columns: 360px;
        gap: 49px;
    }

    .form__market {
        padding-top: 64px;
        padding-bottom: 140px;
        flex-direction: column;
        gap: 48px;
        background-image: url(../img/img__background.svg);
        background-size: cover;
    }

    .contacts {
        justify-content: space-between;
        padding: 24px 33px 23px 32px;
    }
}

/* Стили для среднего телефона */
@media (max-width: 767px) {

    .head {
        padding: 18px 16px;
    }

    .account {
        display: $displayNone;
    }

    .basket {
        display: $displayNone;
    }

    .top__info {
        justify-content: $justifyContentCenter;
    }

    .top__content {
        padding-top: 148px;
        padding-bottom: 149px;
        gap: 15px;
    }

    .top__info__img {
        display: $displayNone;
    }

    .rectangle {
        max-width: 12px;
        max-height: 61px;
    }

    .title {
        font-size: 38px;
        line-height: 46px;
    }

    .subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .stocks {
        padding-top: 64px;
        padding-bottom: 64px;
        grid-template-columns: 343px;
        row-gap: 32px;
    }

    .sale__text__women {
        top: 98px;
        left: 94px;
    }

    .sale__text__men {
        top: 102px;
        left: 113px;
    }

    .sale__text__kids {
        top: 108px;
        left: 114px;
    }

    .item4 {
        display: $displayNone;
    }

    .catalog {
        padding-top: 65px;
        padding-bottom: 41px;
        grid-template-columns: 359px;
    }

    .foot {
        padding-top: 48px;
        padding-bottom: 47px;
        grid-template-columns: 348px;
        gap: 47px;
    }

    .form__market {
        gap: 59px;
        padding-top: 64px;
        padding-bottom: 80px;
        background-image: url(../img/img__background.svg);
        background-size: cover;
        flex-direction: column;
        align-items: center;
    }

    .form__input {
        max-width: 246px;
    }

    .contacts {
        padding-top: 43px;
        padding-bottom: 9px;
        gap: 40px;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
}

/* Стили для маленького телефона */
@media (max-width: 321px) {
    .stocks {
        grid-template-columns: 320px;
    }

    .catalog {
        grid-template-columns: 320px;
    }

    .description {
        font-size: 12px;
    }

    .text__about {
        max-width: 320px;
    }

    .form__content {
        max-width: 320px;
    }

    .form__input {
        max-width: 190px;
    }
}