%flex-centr-head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

%flex-align-items {
    display: flex;
    align-items: center;
}

%flex-centr {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

%flex-center-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

%grid-stocks {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    column-gap: 30px;
    justify-content: center;
}