$colorSelectStyle: #F16D7F;
$widthSite: 1140px;
$colorContent: #222222;
$gapGrid: 30px;
$colorTextContent: #FBFBFB;
$colorSubtextContent: #6F6E6E;
$marginNone: 0;
$paddingNone: 0;
$transitionSelectSite:0.4;
$weightRegular: 400;
$weightBold: 700;
$weightBlack: 900;
$sizeSmall: 14px;
$line-height: 16.8px;


