@import 'vars';
@import 'position';

* {
    margin: $marginNone;
    padding: $paddingNone;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: $marginNone;
}

figure {
    margin: $marginNone;
}

.head {
    @extend %flex-centr;
    padding: 18px 240px 19px 231px;
    background: $colorContent;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 41px;
}

.head__menu {
    transition: $transitionSelectSite;
}

.head__menu:hover {
    fill: $colorSelectStyle;
}

.header {
    display: flex;
    align-items: center;
    gap: 33px;
}

.search__img {
    cursor: pointer;
    display: block;
    cursor: pointer;
}

.search__menu {
    opacity: 0;
    display: flex;
}

.search__img:active~.search__menu {
    opacity: 1;
}

.search__input {
    display: none;
    transition-duration: 0.5s;
    transition-property: opacity;
    appearance: none;
}