.head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.head .header {
  display: flex;
  align-items: center;
}

.top__info .top__content, .top__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.stocks {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

figure {
  margin: 0;
}

.head {
  padding: 18px 240px 19px 231px;
  background: #222222;
}
.head .header__logo {
  display: flex;
  align-items: center;
  gap: 41px;
}
.head .header__logo .search__img {
  display: block;
  cursor: pointer;
  cursor: pointer;
}
.head .header {
  gap: 33px;
}
.head .header .navbar {
  padding: 0;
}
.head .header .navbar-nav .dropdown-menu {
  position: absolute;
}
.head .header .dropdown-menu {
  min-width: 232px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-top: 19px;
}
.head .header .dropdown-item {
  padding: 11px 0px 11px 0px;
}
.head .header .title__menu {
  padding-left: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  color: #222222;
}
.head .header .section {
  padding-left: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #F16D7F;
}
.head .header .submenu {
  padding-left: 53.5px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
}
.head .header .head__menu {
  transition: 0.4;
}
.head .header .head__menu:hover {
  fill: #F16D7F;
}
.head .search__menu {
  opacity: 0;
  display: flex;
}
.head .search__input {
  display: none;
  transition-duration: 0.5s;
  transition-property: opacity;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.head .search__img:active ~ .search__menu {
  opacity: 1;
}

.top__info {
  gap: 64px;
  background: #F1E4E6;
}
.top__info .top__content {
  gap: 16px;
}
.top__info .top__content .content__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.top__info .top__content .content__text .title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}
.top__info .top__content .content__text .subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}
.top__info .top__content .content__text .subtitle__pink {
  color: #F16D7F;
}

.stocks {
  padding-top: 65px;
  padding-bottom: 105px;
  background: #FBFBFB;
}
.stocks .item {
  position: relative;
  transition: 1.2s;
}
.stocks .item .img__sale {
  width: 100%;
}
.stocks .item .text {
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.stocks .item .big__text {
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.stocks .item .sale__text__women {
  position: absolute;
  top: 105px;
  left: 103px;
}
.stocks .item .sale__text__men {
  position: absolute;
  top: 105px;
  left: 125px;
}
.stocks .item .sale__text__kids {
  position: absolute;
  top: 105px;
  left: 123px;
}
.stocks .item .sale__botom__text {
  position: absolute;
  top: 65px;
  left: 492px;
}
.stocks .item:hover {
  transform: scale(1.1);
}
.stocks .item4 {
  padding-top: 21px;
  grid-column: 1/-1;
}/*# sourceMappingURL=style.css.map */