@import 'vars';
@import 'position';

* {
    margin: $marginNone;
    padding: $paddingNone;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: $marginNone;
}

figure {
    margin: $marginNone;
}

.head {
    @extend %flex-centr-head;
    padding: 18px 240px 19px 231px;
    background: $colorContent;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 41px;
}

.head__menu {
    transition: $transitionSelectSite;
}

.head__menu:hover {
    fill: $colorSelectStyle;
}

.header {
    @extend %flex-align-items;
    gap: 33px;
}

.search__img {
    display: block;
    cursor: pointer;
    cursor: pointer;
}

.search__menu {
    opacity: 0;
    display: flex;
}

.search__img:active~.search__menu {
    opacity: 1;
}

.search__input {
    display: none;
    transition-duration: 0.5s;
    transition-property: opacity;
    appearance: none;
}

.navbar {
    padding: $paddingNone;
}

.dropdown-menu {
    min-width: 232px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 19px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.dropdown-item {
    padding: 11px 0px 11px 0px;
}

.title__menu {
    padding-left: 32px;
    font-style: normal;
    font-weight: $weightBold;
    font-size: $sizeSmall;
    line-height: $lineHeight;
    color: #000000;
}

.section {
    padding-left: 32px;
    font-style: normal;
    font-weight: $weightRegular;
    font-size: $sizeSmall;
    line-height: $lineHeight;
    color: $colorSelectStyle;
}

.submenu {
    padding-left: 53.5px;
    font-style: normal;
    font-weight: $weightRegular;
    font-size: $sizeSmall;
    line-height: $lineHeight;
    color: $colorSubtextContent;
}

.title {
    font-style: normal;
    font-weight: $weightBlack;
    font-size: 48px;
    line-height: 58px;
    color: $colorContent;
}

.top__info {
    @extend %flex-centr;
    gap: 64px;
    background: #F1E4E6;
}

.top__content {
    @extend %flex-centr;
    gap: 16px;
}

.content__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtitle {
    font-style: normal;
    font-weight: $weightBold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.subtitle__pink {
    color: #F16D7F;
}

.stocks {
    padding-top: 65px;
    padding-bottom: 105px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    column-gap: 30px;
    justify-content: center;
    background: #E5E5E5;
}