* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 18px;
    padding-bottom: 19px;
    background: #222222;
}

.header__logo {
    display: flex;
    gap: 41px;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    gap: 33px;
}

.top__info {
    background: #F1E4E6;
}

.title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.top__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 64px;
}

.top__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}

.content__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.subtitle__pink {
    color: #F16D7F;
}

.stocks {
    padding-top: 65px;
    padding-bottom: 105px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    column-gap: 30px;
    justify-content: center;
    background: #E5E5E5;
}

.item {
    position: relative;
}

.item4 {
    padding-top: 21px;
    grid-column: 1/-1;
}

.img__sale {
    width: 100%;
}

.sale__text__women {
    position: absolute;
    top: 105px;
    left: 103px;
}

.sale__text__men {
    position: absolute;
    top: 105px;
    left: 125px;
}

.sale__text__kids {
    position: absolute;
    top: 105px;
    left: 123px;
}

.sale__botom__text {
    position: absolute;
    top: 65px;
    left: 492px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.big__text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.products {
    background: #E5E5E5;
}

.featured {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.featured__title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.featured__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.catalog {
    padding-top: 48px;
    padding-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    column-gap: 29px;
    row-gap: 25px;
    justify-content: center;
}

.about__product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
    background: #F8F8F8;
}

.name {
    width: 148.11px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.description {
    width: 314.74px;
    height: 51px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.price {
    width: 52.46px;
    height: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.rowse__all_product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button {
    margin-bottom: 103px;
    padding: 15px 39px 14px 39px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background: #E5E5E5;
    border-color: #FF6A6A;
}

@media (max-width: 1025px) and (min-width: 767px) {
    /* Стили для планшета */

    .top__info {
        justify-content: center;
    }

    .top__info__img {
        max-width: 386px;
        max-height: 368px;
    }

    .header {
        gap: 25px;
    }

    .title {
        font-size: 44px;
        line-height: 53px;
    }

    .subtitle {
        font-size: 24px;
        line-height: 29px;
    }

    .top__info {
        gap: 39px;
    }

    .stocks {
        padding-bottom: 109px;
        grid-template-columns: repeat(3, 233px);
        column-gap: 20px;
    }

    .sale__text__women {
        top: 59px;
        left: 39px;
    }

    .sale__text__men {
        top: 57px;
        left: 60px;
    }

    .sale__text__kids {
        top: 58px;
        left: 59px;
    }

    .img__sale__accesories{
        max-width: 740px;
    }

    .sale__botom__text {
        top: 33px;
        left: 288px;
    } 

    .catalog {
        padding-top: 73px;
        padding-bottom: 33px;
        grid-template-columns: repeat(2, 360px);
        column-gap: 16px;
        row-gap: 16px;
    }

    .button {
        margin-bottom: 85px;
    }
}


@media (max-width: 767px) and (min-width: 375px) {
    /* Стили для телефона */

    .head {
        padding-left: 16px;
        padding-right: 16px;
        justify-content: space-between;
    }

    .account {
        display: none;
    }

    .basket {
        display: none;
    }

    .top__info {
        justify-content: center;
    }

    .top__content {
        padding-top: 148px;
        padding-bottom: 149px;
        gap: 15px;
    }

    .top__info__img {
        display: none;
    }

    .rectangle {
        max-width: 12px;
        max-height: 61px;
    }

    .title {
        font-size: 38px;
        line-height: 46px;
    }

    .subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .stocks {
        padding-top: 64px;
        padding-bottom: 64px;
        grid-template-columns: 343px;
        row-gap: 32px;
    }

    .sale__text__women {
        top: 98px;
        left: 94px;
    }

    .sale__text__men {
        top: 102px;
        left: 113px;
    }


    .sale__text__kids {
        top: 108px;
        left: 114px;
    }

    .sale__text__accesories {
        top: 30px;
        left: 92px;
    }

    .item4 {
        display: none;
    }

    .catalog {
        padding-top: 65px;
        padding-bottom: 41px;
        grid-template-columns: 359px;
    }

}