* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30%;
    padding-top: 18px;
    padding-bottom: 19px;
    background: #222222;
}

.header__logo {
    display: flex;
    gap: 41px;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    gap: 33px;
}

.top__info {
    background: #F1E4E6;
}

.title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.top__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 64px;
}

.top__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}

.content__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.subtitle__pink {
    color: #F16D7F;
}

.stocks{
    padding-top: 65px;
    padding-bottom: 105px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    /* grid-template-columns: 360px 360px 1140px ; */
    /* grid-template-rows: 260px 260px 180px; */
    column-gap: 37px;
    justify-content: center;
}

.item4{
    padding-top: 21px;
    grid-column: 1/3;
}

.img{
    background: #211616;
    filter: brightness(50%)
}
